@import "styles/variables.scss";

.section-analytics {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  .analytics-filters {
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: $colour-background-1;
    .analytics-filters-title {
      font-family: $font-family-fancy;
      width: 10%;
      text-align: center;
    }
    .analytics-filters-selectors {
      width: 90%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
    }
  }
  .analytics-tabs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    height: 40px;
    font-family: $font-family-fancy;
    font-weight: bold;
    border-bottom: 2px solid $border-highlight;
    background-color: $colour-background-1;
    .analytics-tab {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      background-color: $colour-compliment-fade;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      cursor: pointer;
      :hover {
        filter: opacity(60%);
      }
      &-selected {
        background-color: $colour-compliment;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border: 2px solid $border-highlight;
        border-bottom: none;
      }
    }
  }
  .section-sw-entries {
    border: 2px solid $border-highlight;
    border-top: none;
    border-bottom: none;
  }
}