@import "styles/variables.scss";

.sw-entries-header {
  font-family: $font-family-fancy;
  margin: 0;
  color: $colour-highlight;
  background-color: $colour-compliment;
  padding: 4px;
  padding-left: 5px;
}

.sw-entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  .sw-entries-list {
    width: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
    // border-top: 1px solid lightgrey;
  }
}

.stopwatch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-light;
  padding: 5px;
  margin-top: 10px;
  min-height: 60px;
  &-active {
    width: 100%;
    border-bottom: none;
  }
  .stopwatch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .sw-categories {
    width: 180px;
  }
  .sw-picker {
    width: 25px;
  }
  .sw-tags {
    width: 300px;
  }
  .sw-inputs {
    width: 330px;
    justify-content: space-evenly;
    background-color: $background-transparent-low;
    // padding-left: 8px;
    // padding-right: 8px;
  }
  .sw-start-time {
    // background-color: $background-transparent-low;
    height: 55px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .sw-calc-times {
    width: 200px;
    background-color: $background-transparent-low;
    .sw-counter {
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
      width: 100px;
      padding: 10px;
      border: 1px solid $border-light;
      border-radius: 3px;
      background-color: white;
    }
  }
  .sw-buttons-right {
    min-width: 140px;
    justify-content: space-between;
    background-color: $background-transparent-low;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.show-colour-picker {
  position: absolute;
  z-index: 2;
  background-color: $background-transparent-med;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.show-calendar {
  position: absolute;
  z-index: 2;
  background-color: $background-transparent-med;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
}
