@import "styles/variables.scss";

.sw-entries-header {
}

.sw-entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // margin-top: 10px;
  .sw-header {
    display: flex;
    flex-direction: row;
    font-family: $font-family-fancy;
    font-size: 1.2em;
    font-weight: bold;
    margin: 0;
    color: $colour-highlight;
    // padding-left: 5px;
    padding: 2px;
    border-bottom: 1px solid $border-light;
    width: 100%;
      .sw-header-category {
        text-align: center;
        width: 240px;
        padding-right: 30px;
      }
      .sw-header-tags {
        text-align: center;
        width: 330px;
        padding-right: 20px;
      }
      .sw-header-times {
        display: flex;
        flex-direction: row;
        width: 350px;
        padding: 0px 40px 0px 10px;
        .sw-header-times-start {
          text-align: center;
          width: 105px;
        }
        .sw-header-times-end {
          text-align: center;
          width: 110px;
          padding-left: 12px;
        }
        .sw-header-times-intensity {
          text-align: center;
          width: 70px;
        }
      }
      .sw-header-calcs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 210px;
        .sw-header-calcs-total {
          text-align: center;
          width: 90px;
        }
        .sw-header-calcs-effective {
          text-align: center;
          width: 90px;
          padding-left: 1px;
        }
        
      }
  }

  .sw-entries-list {
    width: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
    // border-top: 1px solid lightgrey;
  }
}

@keyframes newEntry {
  0% { 
    background-color: #eeee0099;
  }
  75% { 
    background-color: #eeee0033;
  }
  100% { 
    background-color: none;
  }
}

.stopwatch {
  animation: 1.5s ease-out newEntry;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $border-light;
  padding: 5px;
  padding-bottom: 8px;
  padding-top: 10px;
  min-height: 60px;
  &-active {
    width: 100%;
    border-bottom: none;
  }
  .stopwatch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .sw-categories {
    width: 180px;
  }
  .sw-picker {
    width: 25px;
  }
  .sw-tags {
    width: 300px;
  }
  .sw-inputs {
    width: 330px;
    justify-content: space-evenly;
    background-color: $background-transparent-low;
    // padding-left: 8px;
    // padding-right: 8px;
    .sw-input-calendar {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      .entry-date-content {
        font-family: $font-family-fancy;
        width: 40px;
        text-align: center;
      }
    }
  }
  .sw-start-time {
    // background-color: $background-transparent-low;
    height: 55px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .sw-calc-times {
    width: 200px;
    background-color: $background-transparent-low;
    .sw-counter {
      text-align: center;
      font-size: 1.5em;
      font-weight: 300;
      width: 100px;
      padding: 10px;
      border: 1px solid $border-light;
      border-radius: 3px;
      background-color: white;
    }
  }
  .sw-buttons-right {
    min-width: 120px;
    justify-content: space-between;
    background-color: $background-transparent-low;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.show-colour-picker {
  position: absolute;
  z-index: 2;
  background-color: $background-transparent-med;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.show-calendar {
  position: absolute;
  z-index: 2;
  background-color: $background-transparent-med;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
}
