$font-family: "Source Sans Pro", sans-serif;
$font-family-fancy: 'Poiret One', sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$colour-highlight: #d81665;
$colour-compliment: #b1e9ff;
$colour-compliment-fade: #b1e9ffaa;

$background-transparent-light:  #eaeaea40;
$background-transparent-dark:  #aeaeaecc;
$background-light: #f6f6f6;

$border-light: lightgrey;
$border-highlight: $colour-highlight;

$categories-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;

