$font-family: "Source Sans Pro", sans-serif;
$font-family-fancy: 'Darker Grotesque', sans-serif;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;
$colour-highlight: #690b31;
$colour-compliment: #98b5fe;
$colour-compliment-fade: #98b5feaa;
$colour-compliment-fade-extra: #98b5fe30;
$colour-background-1: #d4d4d499;

$background-transparent-low:  #eaeaea45;
$background-transparent-med:  #aeaeae70;
$background-transparent-high:  #aeaeaecc;
$background-light: #f6f6f6;

$border-light: lightgrey;
$border-highlight: $colour-highlight;

$categories-colors: #54a0ff, #48dbfb, #1dd1a1, #5f27cd;

