.button {
  width: 100px;
  height: 100px;
  &button--play {
    width: 100px;
    height: 100px;
  }
  &button--duplicate {
    width: 100px;
    height: 100px;
  }
  &button--stop {
    width: 100px;
    height: 100px;
  }
  &button--pause {
    width: 100px;
    height: 100px;
  }
  &button--delete {
    width: 100px;
    height: 100px;
  }
}