.button {
  width: 50px;
  height: 50px;
  border: none;
  text-decoration: none;
  background: none;
  font-size: 2em;
  // &.button--play {
  //   width: 50px;
  //   height: 50px;
  //   font-size: 2em;
  // }
  // &.button--duplicate {
  //   width: 50px;
  //   height: 50px;
  //   font-size: 2em;
  // }
  // &.button--stop {
  //   width: 50px;
  //   height: 50px;
  //   font-size: 2em;
  // }
  // &.button--pause {
  //   width: 50px;
  //   height: 50px;
  //   font-size: 2em;
  // }
  // &.button--delete {
  //   width: 50px;
  //   height: 50px;
  //   font-size: 2em;
  // }
  // &button--close {
  //   width: 10px;
  //   height: 10px;
  // }
}