.entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .entries__list {
    width: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid lightgrey;
  }
}

.stopwatch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  min-height: 60px;
  &-active {
    border-top: 1px solid lightgrey;
  }
  .stopwatch-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  .sw-categories {
    width: 180px;
  }
  .sw-picker {
    width: 25px;
  }
  .sw-tags {
    width: 300px;
  }
  .sw-inputs {
    width: 330px;
    justify-content: space-evenly;
    background-color: #eaeaea40;
  }
  .sw-start-time {
    // background-color: #eaeaea40;
    height: 55px;
    width: 130px;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .sw-calc-times {
    width: 200px;
    .sw-counter {
      text-align: center;
      font-size: 1.3em;
      width: 100px;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 3px;
      background-color: #f0f0f0;
    }
  }
  .sw-buttons-right {
    min-width: 140px;
    justify-content: space-between;
    background-color: #eaeaea40;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.show-colour-picker {
  position: absolute;
  z-index: 2;
  background-color: #aeaeaecc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.show-calendar {
  position: absolute;
  z-index: 2;
  background-color: #aeaeaecc;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
}
