.stopwatch {
  display: flex;
  flex-direction: row;
}

.intensityPadding {
  border: 1px inset #ccc;
  &input {
    width: 50px;
    border: 1px solid peru;
    padding:0;
    text-align: right;
    outline: none;
  }
}