.entries {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .entries__list {
    width: 100%;
    display: flex;
    margin: 0px;
    flex-direction: column;
    padding: 0px;
    border-top: 1px solid lightgrey;
  }
}

.stopwatch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  .stopwatch-group {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sw-categories {
    width: 180px;
  }
  .sw-tags {
    width: 300px;
  }
  .stopwatch-counter {
    font-size: 1.3em;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    background-color: #f0f0f0;
  }
}

.show-colour-picker {
  position: absolute;
  z-index: 2;
  background-color: #aeaeaecc;
  padding: 10px;
  border-radius: 5px;
  margin-top: 8px;
}

.show-calendar {
  position: absolute;
  z-index: 2;
  background-color: #aeaeaecc;
  padding: 4px;
  border-radius: 4px;
  margin-top: 8px;
}
