/* @import "~normalize.css/normalize.css"; */
@import-normalize;
/* https://create-react-app.dev/docs/adding-css-reset/#:~:text=To%20start%20using%20it%2C%20add,css%20or%20App. */

html {
  box-sizing: border-box;
}

body {
  .nav-container {
    font-family: 'Poiret One', cursive;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    .nav-logo-container {
      padding: 5px;
      background-color: #b1e9ff;
      // icon's pink is #d81665
      .nav-logo-inner {
        padding-bottom: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-title {
          text-align: center;
          align-items: center;
        }
        img {
          height: 40px;
        }
      }
    }
  }

  .main-app {
    padding: 10px;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,'Helvetica Neue',Helvetica,sans-serif;
    .section-header {
      font-family: 'Poiret One', cursive;
      margin: 0;
      color: #d81665;
      background-color: #b1e9ffaa;
      margin-top: 20px;
      padding: 4px;
      padding-left: 5px;
    }
  }
}
